@media screen and (orientation:portrait){


body{
  margin:0;
  background-color: rgb(240,240,240);
  display:grid;
  grid-template-rows:7vh 30vh 30vh 65vh 8px 100vh 150vh 100vh;
  grid-template-columns: repeat(10,10vw);

}

form{
 display:grid;
 grid-template-columns:repeat(10,10vh);
 grid-template-rows: 10vh 8px 8px 5vh 2vh 8px 5vh;
 grid-row-start:8;
 grid-row-end:8;
 grid-column-start:1;
 grid-column-end:10;

}
#function{
  margin:8px;
  grid-column-start:1;
  grid-column-end:11;
  grid-row-start:7;
  grid-row-end:7;
  color:rgb(60,60,60);
}
#function ul li:not(.customized){
 font-weight:lighter !important;
}
#order{
 width:calc(100% - 8px) !important;
 text-align:center;
 outline-width:0 !important;
}
#images{
  margin:8px;
  grid-column-start:1;
  grid-column-end:11;
  grid-row-start:6;
  grid-row-end:6;
  
}
#img-header{
 width:100%;
 height:50%;
 display:flex;
 flex-direction:column;
 margin-bottom:8px;
}

#img-items{
 display:flex;
 flex-direction:row;
 overflow:scroll;
}
#img-items img{
 width:50%;
 height:50%;
 margin-right:4px;
}
.customize{
  font-weight: bolder;	
}


#play{
  padding-top:8px;
  padding-bottom:8px;
  background-color:#fc4c4ef0;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start:1;
  grid-column-end:11;
  display:inline-grid;
  grid-template-rows: 5vh 10vh 15vh;
  grid-template-columns: repeat(11,9vw);
  grid-row-gap:8px;
}
#play-header{
	margin:8px;
	background-color:rgba(224,17,95,0.4);
        background-clip:border-content;
	justify-self: center;
	font-weight:lighter;
	font-size:2.5vh;
	grid-column-start:2;
	grid-column-end:11;
	grid-row-start:1;
	grid-row-end:1;
	color:white;
}
.lighter{
	font-weight: lighter;
        font-size:3vh;
}
#play-video{
        color:white;
        font-weight:bold;
        font-size:3vh;
	margin:8px;
	grid-row-start:2;
	grid-row-end:2;
	grid-column-end:11;
	grid-column-start:3;
}

#play-button,#order{
   outline-width:0;
   border: 2px solid white;
   height:9vh;
   margin:8px;
   grid-row-start:3;
   grid-row-end:3;
   grid-column-end:12;
   grid-column-start:1;
   font-size:3vh;
   background-color:rgba(250,250,250);
   color:#fc4c4e;
   text-align:center;
   font-weight:bolder;
   text-align:center;
   box-shadow:2px 2px 2px rgba(250,250,250,0.2), -2px -2px 2px rgba(250,250,250,0.2),2px 2px 2px rgb(230,100,100) inset, -2px -2px 2px rgb(230,100,100) inset;
}
#description{
	margin:8px;
        margin-top:16px;
	grid-column-end:11;
	grid-column-start:1;
	grid-row-end:4;
	grid-row-start:4;
	font-size:3vh;
	font-family:sans-serif;
	color:rgb(60,60,60);
}

#description ul, #function ul{
	font-size:3vh;
	font-weight:bold;
	list-style-type: circle;
}
#header{
	padding:8px;
	margin:8px;
	margin-top:16px;
    font-size:3vh;
    text-align:center;
    box-shadow:2px 2px 2px rgba(30,30,30,0.5), -2px -2px 2px rgba(30,30,30,0.5);
    background-image: linear-gradient(to right,#fc4c4e,rgb(230,100,100));
    color:white;
    grid-row-start: 2;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end:11; 

}


#logo{
   font-family:cursive;
   font-size:6vh;
   display:inline-grid;
   grid-template-columns: repeat(10,1vh);
}

#J{
	color:gray;
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:1;
	grid-column-end:2;
}

#Y, #T, #J {
	font-weight:bolder;
}
#Y{
	color:rgb(200,200,200);
}
#T{

	color:gray;
	grid-row-start:1;
	grid-row-end:1;
	grid-column-start:5;
	grid-column-end:6;
}

#icon{
        justify-self:end;
	grid-row-start:1;
	grid-row-end:1;
	grid-column-end:11;
	grid-column-start:10;
}

#navbar{
   display:grid;
   grid-template-columns: repeat(10,10vw);
   grid-template-rows: 6vh;
   background-image: linear-gradient(to left, rgb(240,240,240), rgb(250,250,250));
   grid-column-start: 1;
   grid-column-end: 11;
   grid-row-start:1;
   grid-row-end:1;
   border-bottom: 1px solid rgb(200,200,200);

}


}
